version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: saltolabs/salto:0.0.4

    working_directory: ~/repo

    steps:
      - restore_cache:
          keys:
            - v1-source-{{ .Branch }}-
            - v1-source-

      - checkout

      - save_cache:
          key: v1-source-{{ .Branch }}
          paths: .git

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}
            - v1-yarn-deps-{{ arch }}-
            - v1-yarn-deps-

      - run: yarn --frozen-lockfile

      - run:
          name: Run Jest tests
          command: yarn run jest --forceExit --detectOpenHandles --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/test-results.xml"
            RUN_E2E_TESTS: 1

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
            - .jest_cache

          key: v1-yarn-deps-{{ checksum "yarn.lock" }}

      - store_test_results:
          path: reports

      - store_artifacts:
          path: reports

      - run:
          name: Upload coverage to codecov.io
          command: npx codecov -f coverage/*.json

