version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@1.0.0

jobs:
  find_changed_packages:
    docker:
      - image: cimg/node:14.15
    resource_class: large

    steps:
      - restore_cache:
          keys:
            - v1-project-{{ .Branch }}
            - v1-project-main

      - checkout

      - run:
          name: remove empty directories from the packages dir
          command: |
            find ./packages -mindepth 1 -maxdepth 1 -type d '!' -exec test -e "{}/package.json" ';' -print \
              | xargs --no-run-if-empty rm -r

      - run:
          # eslint will verify that the license header exists on the linted source files, this step is
          # to verify that other non-linted files also contains the license header (and therefore this is
          # in the 'build' job)
          name: verify that the license header is prepended to the non eslint'd source files
          command: build_utils/verify_license_header.sh

      - run: yarn config set ignore-engines true

      - run: yarn config set cache-folder /mnt/ramdisk/yarn-cache

        # Yarn has some random race-condition failures, trying multiple times seems to help
        # when the source of the problem is yarn itself and not the packages
      - run: yarn || yarn || yarn
      - run:
          name: Compile and Run Find Changed Packages Script
          command: |
            pushd .circleci/scripts
            node find_changed_packages
      - persist_to_workspace:
          root: .
          paths:
            - .circleci/continue_config.yml
  

workflows:
  commit:
    jobs:
      - find_changed_packages
      - continuation/continue:
          requires:
            - find_changed_packages
          checkout: false
          configuration_path: .circleci/continue_config.yml
          workspace_path: .