version: 2

jobs:
  build:
    docker:
      # specify the version you desire here
      - image: saltolabs/salto:0.0.6

    working_directory: ~/repo

    steps:
      - restore_cache:
          keys:
            - v1-source-{{ .Branch }}
            - v1-source-

      - checkout

      - save_cache:
          key: v1-source-{{ .Branch }}
          paths: .git

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}
            - v1-yarn-deps-{{ arch }}-
            - v1-yarn-deps-

      - run: yarn --frozen-lockfile

      - run:
          name: Run Jest tests
          command: yarn run jest --forceExit --detectOpenHandles --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/test-results.xml"

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
            - .jest_cache

          key: v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}

      - store_test_results:
          path: reports

      - store_artifacts:
          path: reports

      - run:
          name: Upload coverage to codecov.io
          command: if [[ "${RUN_E2E_TESTS}" != "1" && "${RUN_E2E_TESTS}" != "true" ]]; then npx codecov -f coverage/*.json; fi

workflows:
  version: 2

  commit:
    jobs:
      - build

  nightly:
    triggers:
      - schedule:
          cron: "40 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: nightly

  post-commit:
    jobs:
      - build:
          context: nightly
          filters:
            branches:
              only:
                - master
