version: 2

jobs:
  build:
    docker:
      - image: saltolabs/salto:0.0.6

    steps:
      - restore_cache:
          keys:
            - v1-source-{{ .Branch }}
            - v1-source-

      - checkout

      - save_cache:
          key: v1-source-{{ .Branch }}
          paths: .git

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}
            - v1-yarn-deps-{{ arch }}-
            - v1-yarn-deps-

      - run: yarn --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn

          key: v1-yarn-deps-{{ arch }}-{{ checksum "yarn.lock" }}

      - persist_to_workspace:
          root: .
          paths:
            - '*.json'
            - 'dist'
            - 'packages'
            - 'node_modules'

  unittest:
    docker:
      - image: circleci/node:12.3.1

    steps:
      - attach_workspace:
          at: .

      - run:
          name: Run Jest tests
          command: yarn run jest --forceExit --detectOpenHandles --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/unittests/test-results.xml"


      - store_test_results:
          path: reports

      - run:
          name: Upload coverage to codecov.io
          command: npx codecov -F unit_test -f coverage/*.json

  e2e_test:
    docker:
      - image: circleci/node:12.3.1

    steps:
      - attach_workspace:
          at: .

      - run:
          name: Run E2E tests
          command: yarn run jest --forceExit --detectOpenHandles --reporters=default --reporters=jest-junit
          environment:
            RUN_E2E_TESTS: '1'
            JEST_JUNIT_OUTPUT: "reports/e2e/test-results.xml"

      - store_test_results:
          path: reports

      - run:
          name: Upload coverage to codecov.io
          command: npx codecov -F e2e_test -f coverage/*.json

workflows:
  version: 2

  commit:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - master
      - unittest:
          requires:
            - build

  post-commit:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
      - unittest:
          requires:
            - build
      - e2e_test:
          requires:
            - build
