version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: saltolabs/salto:0.0.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      - run:
          name: Run Jest tests
          command: npx jest --ci --runInBand --forceExit --verbose --detectOpenHandles --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"

      - store_test_results:
          path: reports

      - store_artifacts:
          path: reports

      - run:
          name: Upload coverage to codecov.io
          command: npx codecov -f coverage/*.json
      

